@charset "utf-8";
body {
    font-family: "Helvetica", "YuGothic Medium", "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体 Medium", YuGothic, "Yu Gothic", "游ゴシック", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.main_visual {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bgBig.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #a7a7a7;
}

.iCon {
    display: flex;
}

.iCon .iconImg {
    width: 20px;
    height: 20px;
}

.iconTitle {
    font-size: 20px;
}

.item_center {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 30%;
    border: 1px solid #C0C0C0;
    box-shadow: 5px 5px 10px;
}

.wellcome {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.formItems {
    margin-bottom: 20px;
}

.aInput {
    width: 100%;
    height: 25px;
}

.subBtn {
    display: inline-block;
    width: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.urlLink {
    color: #668ad8;
}


/*ここから下がスマホ対応のCSS*/

@media screen and (max-width:480px) {
    html {
        font-size: 56.25%;
    }
    .main_visual {
        background-image: url();
        background-color: rgb(249, 249, 249);
    }
    .item_center {
        width: 100%;
        margin-top: 40px;
        margin-right: 60px;
        margin-left: 50px;
        border: 1px solid #C0C0C0;
    }
    .aInput {
        width: 100%;
        height: 20px;
    }
}